In [1]:
#Q1.create a veriable containing following type of data:

In [2]:
#string
s='hello world'

In [3]:
s

'hello world'

In [4]:
#list
l=[1,2,'data',True,45.456]

In [5]:
l

[1, 2, 'data', True, 45.456]

In [6]:
#float
f=45.456

In [7]:
f

45.456

In [8]:
#tuple
t=(1,2,'data',True,12.123,[1,2,])

In [9]:
t

(1, 2, 'data', True, 12.123, [1, 2])

In [10]:
#Q2given are some following variable containing data:

In [11]:
var1=''

In [12]:
#this variable string data type

In [13]:
var2='[DS,ML,python]'

In [14]:
var2

'[DS,ML,python]'

In [15]:
#var2 is a string data type

In [16]:
var3=['DS','ML',"python"]

In [17]:
# var3 is a list data type

In [18]:
var3

['DS', 'ML', 'python']

In [19]:
var4=1.

In [20]:
#var4 is float data type

In [21]:
var4

1.0

In [22]:
#Q3 explain the use of the following operators using an examlpe:

In [23]:
#/ thise operator use for a  division

In [24]:
10/2

5.0

In [25]:
#%this operator use for a modulus or remainder

In [26]:
10%3

1

In [27]:
#// the operator use for floor division it return the quotient of the division rounded down to the nearest integer:

In [28]:
10//3

3

In [29]:
#** operator use for exponebtiation it raises the first operand to the power of second operand:

In [30]:
2**3

8

In [31]:
'''Q4create a list of length 10 of your choice contaaining multiple types of data using for loop print the
 element and its data type

In [32]:
l=[2,3,"data",True,45.456,5,6,"hello",4.5,False]

In [33]:
for i in l:
    print(i,type(i))

2 <class 'int'>
3 <class 'int'>
data <class 'str'>
True <class 'bool'>
45.456 <class 'float'>
5 <class 'int'>
6 <class 'int'>
hello <class 'str'>
4.5 <class 'float'>
False <class 'bool'>

In [34]:
'''Q5using a while loop,verify if the number A ia purely divisible bt number B and if so then how many 
times it can be divisible
'''

SyntaxError: incomplete input (1552911348.py, line 1)

In [35]:
A=int(input("Enter the value of A:"))
B=int(input("Enter the value of B:"))

Enter the value of A: 100
Enter the value of B: 5

In [37]:
count=0
while A%B==0:
    A=A/B
    count+=1
    if count>0:
        print("A is cimpletely divisible by B")
        print("it can be divisible ",count,"times")

A is cimpletely divisible by B
it can be divisible  1 times
A is cimpletely divisible by B
it can be divisible  2 times

In [2]:
#Q6crfeat a lost containing 25 int type data using for loop and if-else condition print if the element is divisible by 3 or not

In [3]:
l1=[1,3,5,7,9,11,13,115,17,19,21,23,25,27,31,33,35,37,39,41,43,45,47,49]

In [4]:
l1

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 115,
 17,
 19,
 21,
 23,
 25,
 27,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [7]:
for i in l1:
    if i%3==0:
        print (i,"is divisible by 3")
    else:
            print(i,"is not divisible by 3")

1 is not divisible by 3
3 is divisible by 3
5 is not divisible by 3
7 is not divisible by 3
9 is divisible by 3
11 is not divisible by 3
13 is not divisible by 3
115 is not divisible by 3
17 is not divisible by 3
19 is not divisible by 3
21 is divisible by 3
23 is not divisible by 3
25 is not divisible by 3
27 is divisible by 3
31 is not divisible by 3
33 is divisible by 3
35 is not divisible by 3
37 is not divisible by 3
39 is divisible by 3
41 is not divisible by 3
43 is not divisible by 3
45 is divisible by 3
47 is not divisible by 3
49 is not divisible by 3

In [8]:
#Q7what do you understand about mutable and immutabledata type:

In [9]:
#mutable data type is list

In [10]:
l2=[4,5,6,7]

In [11]:
l2[0]=1
print(l2)

[1, 5, 6, 7]